.buttonDoubleGradient {
    background: -webkit-linear-gradient(#004bf9 50%, #fff704 50%);
    background: -o-linear-gradient(#004bf9 50%, #fff704 50%); 
    background: -moz-linear-gradient(#004bf9 50%, #fff704 50%);  
    background: linear-gradient(#004bf9 50%, #fff704 50%);  
    border: 0.5px solid #ffffff;
    border-radius: 3px;
    padding: 10px 0px;
    width: 190px;
    text-align: center;
    margin-bottom: 0px;
  }
  .buttonDoubleGradient a{
    color: #000000;
    font-weight: 750;
    font-family: Raleway;
    font-size: 17px;
    text-decoration: none;
    box-shadow: none;
  }


  .buttonDoubleGradient:hover{

    cursor: pointer;
    background: transparent;
    background: transparent;
    background: transparent ;
    background: transparent;
  }

  .buttonDoubleGradient:hover a{
    color: white;
  }

  
@media screen and (min-width: 2000px) {
    .buttonDoubleGradient {
        padding: 20px 0px;
        width: 300px;
      }

      .buttonDoubleGradient a{
        font-size: 27px;
      }

}

@media screen and (max-width: 1200px) {
  .buttonDoubleGradient {
    padding: 10px 0px;
    width: 180px;
  }

  .buttonDoubleGradient a{
    font-size: 15px;
  }

}

@media screen and (max-width: 650px) {
    .buttonDoubleGradient {
        padding: 9px 0px;
        width: 180px;
      }

      .buttonDoubleGradient a{
        font-size: 15px;
      }
}

@media screen and (max-width: 500px) {
    .buttonDoubleGradient {
        padding: 7px 0px;
        width: 130px;
      }

      .buttonDoubleGradient a{
        font-size: 12px;
      }
}

@media screen and (max-width: 450px) {
    .buttonDoubleGradient {
        padding: 9px 0px;
        width: 160px;
      }

      .buttonDoubleGradient a{
        font-size: 15px;
      }
}

@media screen and (max-width: 350px) {
    .buttonDoubleGradient {
        padding: 8px 0px;
        width: 150px;
      }

      .buttonDoubleGradient a{
        font-size: 13px;
      }
}

@media screen and (max-width: 300px) {
    .buttonDoubleGradient {
        padding: 7px 0px;
        width: 120px;
      }

      .buttonDoubleGradient a{
        font-size: 10px;
      }
}